ion-content{
    --background: var(--custom-background);
    font-family: "Roboto", Helvetica, sans-serif;
}
.titulo-resumen{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 2rem 0rem 1rem 1rem;
}
.seccion{
    margin: 0.5rem 0;
    background-color: white;
    padding: 1rem 0 0;
}
ion-item{
    --color: var(--text-color);
    ion-input{
        font-size: 1rem;
        --placeholder-font-style: italic;
        --placeholder-opacity: 0.6;
    }
}
.item-help{
    .input-help{
        font-size: 11px;
        font-style: italic;
        display: block;
        width: 100%;
        padding: 0 0 0.2rem 0;
        margin: 0 1rem;
    }
}
.cash-icon{
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}
ion-grid{ 
    padding: 0;
    padding: 0 1rem;
    color: var(--text-color);
    ion-row{
        ion-col{
            padding: 0.5rem 0;
            &.opcion-pago{
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &.cambiar{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            &.cambiar.boton-cambiar{
                color: var(--ion-color-primary);
                display: flex;
                justify-content: flex-end;
                font-size: 0.9rem;
            }
        }
    }
}
.titulo-seccion{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 1rem 0.5rem 1rem;
    color: var(--text-color);
    &.datos-entrega{
        display: flex;
        justify-content: space-between; 
    }
}
.datos-requeridos{
    background-color: #e8e8e8;;
    border: none;
    color: #757575;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    font-size: 0.7rem;
    font-weight: lighter;
}
.datos-no-validos{
    background-color: #ffdadf;
    color: var(--ion-color-danger);
    border: solid 1px var(--ion-color-danger);
}
.total-button{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    background-image: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin:0.5rem;
    .num-products{
      border-radius: 5px;
      text-align: center;
      padding: 0.2rem 0.5rem;
      align-self: center;
    }
    .icon-text{
      font-weight: bold;
      align-self: center;
    }
    .price{
      align-self: center;
    }
  }
  .total-button.disable{
    background-color: #c8c8c8;
    background-image: none;
  }