<ion-content>
  <div class="close-button" (click)="cerrarReserva()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </div>
  <div class="titulo">Haz tu reserva</div>
  <div class="condiciones">
    <div class="titulo-condiciones">Condiciones para la reserva:</div>
    <div class="condicion">
      <div class="icono">
        <img src="./../../../assets/images/edad.svg" alt="Edad">
      </div>
      <div class="texto">
        Personas mayores de 14 y menores de 70 años
      </div>
    </div>
    <div class="condicion">
      <div class="icono">
        <img src="./../../../assets/images/personas.svg" alt="Máximo">
      </div>
      <div class="texto">
        Cantidad máxima de personas: 6
      </div>
    </div>
    <div class="condicion">
      <div class="icono">
        <img src="./../../../assets/images/reloj.svg" alt="Tiempo máximo">
      </div>
      <div class="texto">
        Tiempo máximo de la estadía: 2 horas
      </div>
    </div>
    <div class="nota">Nota: Recuerda que con tu reserva puedes circular 
      para llegar al restarurante y con tu factura, para retornar a tu casa.</div>
    </div>
    
  <div class="intro">Ingresa los siguientes datos para tu reserva:</div>
  <div class="formulario-reservas">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5IIcgVYMSjgQGegqPdS_xFTS7X7y5mlZK2eSkHBs4ap9xiQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    <!-- <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="float">Nombre:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        required 
        type="text"  
        maxlength="20" 
        [(ngModel)]="reservador.nombre" 
        value="{{reservador.nombre}}" 
        (ionChange)="validaFormulario($event, 'nombre')" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="float">Número de identificación:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        required 
        type="text"  
        maxlength="20" 
        [(ngModel)]="reservador.identificacion" 
        value="{{reservador.identificacion}}" 
        (ionChange)="validaFormulario($event, 'identificacion')" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="float">Correo:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        required 
        type="text"  
        maxlength="20" 
        [(ngModel)]="reservador.correo" 
        value="{{reservador.correo}}" 
        (ionChange)="validaFormulario($event, 'correo')" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="float">Telefono:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        required 
        type="tel"  
        maxlength="20" 
        [(ngModel)]="reservador.telefono" 
        value="{{reservador.telefono}}" 
        (ionChange)="validaFormulario($event, 'telefono')" >
      </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="float">Fecha:<ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime 
        displayFormat="DD/MMM/YYYY"
        display-timezone="utc"
        placeholder="Seleccionar"
        monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
        value="{{reservador.fecha}}" 
        [(ngModel)]="reservador.fecha" 
        (ionChange)="validaFormulario($event, 'fecha')"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hora:<ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime 
        display-format="h:mm A" 
        picker-format="h:mm A" 
        mode="md" 
        minute-values="0,15,30,45"
        value="{{reservador.hora}}" 
        [(ngModel)]="reservador.hora" 
        (ionChange)="validaFormulario($event, 'hora')"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="float">Número de personas:<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="numeroPersonas" interface="popover">
          <ion-select-option value=1>1</ion-select-option>
          <ion-select-option value=2>2</ion-select-option>
          <ion-select-option value=3>3</ion-select-option>
          <ion-select-option value=4>4</ion-select-option>
          <ion-select-option value=5>5</ion-select-option>
          <ion-select-option value=6>6</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->
  </div>

  <!-- <div class="form acompanantes">
    <div class="intro">Ingresa los datos de tus acompañantes:</div>
    <div class="formulario-reservas">
      <div class="persona" >
        <ion-item>
          <ion-label position="float">Nombre:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input 
          required 
          type="text"  
          maxlength="20" 
          [(ngModel)]="reservador.nombre" 
          value="{{reservador.nombre}}" 
          (ionChange)="validaFormulario($event, 'nombre')" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="float">Número de identificación:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input 
          required 
          type="text"  
          maxlength="20" 
          [(ngModel)]="reservador.identificacion" 
          value="{{reservador.identificacion}}" 
          (ionChange)="validaFormulario($event, 'identificacion')" ></ion-input>
        </ion-item>
      </div>
    </div>
  </div> -->

</ion-content>
