#clase-1{
    .header{
    width: 100%;
    max-width: 500px;
    margin: 0rem;
    position: relative;
    img{
      max-height: 220px;
      width: 100%;
      object-fit: cover;
    }
    .logo{
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 50px;
      right: 2rem;
      margin: 0;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
.titulo-categoria{
    border-bottom: solid 2px var(--ion-color-primary);
    border-top: solid 2px var(--ion-color-primary);
    margin: 1rem 0.5rem;
    padding: 0.5rem 0rem;
}
ion-grid{
    padding: 0;
}
.imagen-carta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100px;
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
}
.ion-row{
    display: flex;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px #ccc;
}
.texto-carta{
    font-family: "Lato", Helvetica, sans-serif;
    padding: 0;
    padding-left: 1rem;
    flex: 2;
    .titulo-carta{
        .titulo{
            width: 100%;
            color: var(--text-color);
            font-weight: bold;
        }
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 0 0;
        .linea-precio{
            border-bottom: solid 1px var( --text-color);
        width: 100%;
        margin: 0 0.5rem 0 0;
        border-bottom-style: dashed;
        }
        .precio{
            color: var(--ion-color-primary);
            font-weight: bold;
        }
    }
    .nota{
      font-size: 0.8rem;
      font-style: italic;
      margin-top: 0.1rem;
    }
    .texto{
        font-size: 0.9rem;
        margin: 0.5rem 0.5rem 0 0;
        color: var(--text-color);
    }
}

}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    #clase-1{
      .categoria-carta{
          margin: 0 0.5rem;
      }
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 480) 
  and (max-device-width: 768){
    #clase-1{
      .header{
          margin: 1rem;
            img{
                max-width: 400px;
                border-radius:10px;
            }
        }
      .categoria-carta{
          margin: 0 0.5rem;
      }
    }
}


/* iPad Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
 {
   #clase-1{
     .header{
       margin: 2rem 5rem 0 3rem;
         img{
             max-width: 400px;
             border-radius:10px;
         }
     }
   .categoria-carta{
       margin: 0 3rem;
   }
   }

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    #clase-1{
      .header{
        margin: 2rem 5rem 0 3rem;
        img{
            max-width: 400px;
            border-radius:10px;
        }
      }
    .categoria-carta{
        margin: 0 3rem;
    }
    }
}

@media screen 
  and (min-device-width: 1600px) {
    #clase-1{
      .header{
          margin: 2rem 5rem 0 3rem;
          img{
              max-width: 400px;
              border-radius:10px;
          }
        }
      .categoria-carta{
          margin: 0 auto;
          max-width: 1600px;
      }
    }  
}