<ion-content>
  <div class="close-button" (click)="cerrarDetalle()">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </div>
  <div class="titulo-seccion">Tu compra</div>
  <div class="success-container">
    <div class="datos-compra">
      <ion-avatar slot="start">
        <img src="{{imgProductos}}">
      </ion-avatar>
      <div class="productos-pedido">
        <div class="productos">{{totalProductos}} {{textoProductos}}</div>
        <div class="total">{{total | currency:'COP':'symbol-narrow' : '1.0-0'}}</div>
      </div>
    </div>
  </div>
  <div class="titulo-seccion">Datos de entrega</div>
  <div class="success-container">
    <div class="datos-entrega">
      <div class="dato-form">
        <div class="label">Nombre:</div>
        <div class="valor">{{nombreForm}}</div>
      </div>
      <div class="dato-form">
        <div class="label">Teléfono:</div>
        <div class="valor">{{telefonoForm}}</div>
      </div>
      <div class="dato-form" *ngIf="blDomicilio">
        <div class="label">Dirección:</div>
        <div class="valor">{{direccionForm1}} - {{direccionForm2}}</div>
      </div>
      <div class="dato-form">
        <div class="label">Forma de pago:</div>
        <div class="valor">{{formaPago}}</div>
      </div>
      <div class="dato-form" *ngIf="pedido">
        <div class="label">Medio de entrega:</div>
        <div class="valor">{{pedido.metodoEntrega}}</div>
      </div>
    </div>
</div>
  <div class="titulo-seccion">Revisa el estado de tu pedido</div>
  <div class="success-container">
    <div class="icono"><img class="img-pago" src="{{urlIcono}}"/></div>
    <div class="texto activo">{{texto}}</div>
  </div>
  <div class="estados">
    <div class="estado">
      <div class="icono-estado"><img class="img-estado" src="{{urlRecibido}}"/></div>
      <div class="texto" [ngClass]="{'activo':blRecibido}">Tu orden ha sido recibida y está pendiente por confirmar.</div>
    </div>
    <div class="estado">
      <div class="icono-estado"><img class="img-estado" src="{{urlAceptado}}"/></div>
      <div class="texto" [ngClass]="{'activo':blAceptado}">El restaurante confirmó tu pedido.</div>
    </div>
    <div class="estado">
      <div class="icono-estado"><img class="img-estado" src="{{urlEntregando}}"/></div>
      <div class="texto" [ngClass]="{'activo':blEntregando}">Tu pedido ya está en camino.</div>
    </div>
  </div>
</ion-content>
