.close-button{
    font-size: 2rem;
    text-align: right;
    color: var(--text-color);
    background-color: white;
    opacity: 0.6;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}
.image{
display: block;
height: 210px;
width: 100%;
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0.7rem 1rem;
}
.description{
    margin: 0;
    p{
        font-size: 1rem;
        color: var(--text-color);
        margin: 0.5rem 1rem;
    }
}
.price{
    margin: 0.7rem 1rem;
    .amount{
        font-weight: bold;
        font-size: 1rem;
        margin: 0.5rem 0rem;
    }
}
.cantidad{
    margin: 1rem;
    ion-grid, ion-col{
        padding: 0;
    }
    ion-item{
        --padding-start: 0rem;
        --inner-padding-bottom: 0.5rem;
        --inner-padding-top: 0.5rem;
        --inner-padding-end: 0rem;
        ion-radio{
            margin: 0.5rem;
            --border-width: 1.2px;
        }
    }
}
.options{
    margin: 1rem 0;
}
.radio-group-list{
    margin: 1rem 0;
}
.seleccion-cantidad{
    border: solid 1px #cccccc;
    border-radius: 5px;
}
.col-price{
    padding: 0.5rem 1rem;
}
.price-info{
    .price{
        margin:0;
        font-weight: bold;
    }
  }
  .action-sheet-button.sc-ion-action-sheet-ios{
      color: var(--text-color) !important;
  }
  .step-component{
    display: flex;
    border-radius: 5px;
    padding: 0.3rem 0rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.10);
    .add, .remove{
      font-weight: bold;
        margin: 0 1rem;
        font-size: 1.2rem;
    }
    .no-active{
        opacity: 0.2;
    }
}
.total-container{
    align-items: center;
}
.total-button{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    background-image: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    .num-products{
      background-color: #ff4e00;
      border-radius: 5px;
      text-align: center;
      padding: 0.2rem 0.5rem;
      align-self: center;
    }
    .icon-text{
      font-weight: bold;
      align-self: center;
    }
    .price-total{
      align-self: center;
    }
  }
  .total-button.disable{
    background-color: #c8c8c8;
    background-image: none;
  }

  .adicionales{
      margin: 0 1rem;
      .adicional{
          margin: 1.5rem 0;
      }
      .item{
          ion-item{
            --inner-padding-bottom: 0.5rem;
            --inner-padding-top: 0.5rem;
            --padding-start: 0rem;
            --inner-padding-end: 0rem;
              &.multiple{
                --inner-padding-bottom: 0.2rem;
                --inner-padding-top: 0.2rem;
                --inner-padding-end: 0rem;
              }
              ion-label{
                  color: var(--text-color);
                  .display{
                    padding: 0.3rem 0;
                  }
                  .precio{
                    font-size: 0.9rem;
                    font-weight: bold;
                  }
              }
              ion-radio{
                --border-width: 1.2px;
              }
          }
          ion-checkbox{
            --border-width: 1.2px;
          }
      }
     
  }
  .titulo{
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  .datos-requeridos{
      background-color: #e8e8e8;
      border: none;
      color: #757575;
      padding: 0.2rem 0.5rem;
      width: fit-content;
      border-radius: 1rem;
      font-size: 0.7rem;
      font-weight: lighter;
  }
  .datos-no-validos{
    background-color: #ffdadf;
    color: var(--ion-color-danger);
    border: solid 1px var(--ion-color-danger);
  }
}
.texto-maximo{
  font-size: 0.8rem;
  color: var(--text-color);
}
.item-agotado{
  ion-label{
    opacity: 0.3;
  }
}
.agotado{
  background-color: #ffdadf;
  color: var(--ion-color-danger);
  border: solid 1px var(--ion-color-danger);
  padding: 0.2rem 0.5rem;
  width: fit-content;
  border-radius: 1rem;
  font-size: 0.7rem;
  font-weight: lighter;
  opacity: 0.3;
}