
<ion-content>
  <div class="close-button" (click)="cerrar(false)">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </div> 
  <div class="image">
    <img src={{imagen}}>
  </div>
  <div class="name">{{nombre}}</div>
  <div class="description">
    <p>
      {{descripcion}}
    </p>
  </div>
  <div class="price"><span class="amount">{{precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span></div>
  <div class="cantidad">
    <div class="titulo" *ngIf="blOpciones === true">
      Elige tu opción <div class="datos-requeridos" [ngClass]="{'datos-no-validos':false}" >Obligatorio</div>
    </div>
      <ion-list class="radio-group-list">
        <ion-radio-group allow-empty-selection ([ngModel])="seleccion" value="{{seleccion}}" (ionChange)="seleccionar($event)">
          <div class="option" *ngFor="let opcion of (opciones | async)">
          <ion-item *ngIf="opcion.default === false && blOpciones === true">
              <ion-label class="option-name">{{opcion.nombre}}</ion-label>
              <ion-radio slot="end" mode="md" class="option-value" value="{{opcion.id}}">{{opcion.precio}}</ion-radio>{{opcion.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
    </div>

<div class="adicionales">
  <div class="adicional" *ngFor="let adicional of adicionales">
    <div class="titulo">
      {{adicional.display}} <div *ngIf="adicional.tipo === 1" class="datos-requeridos" [ngClass]="{'datos-no-validos':false}" >Obligatorio</div>
    </div>
    <div class="texto-maximo" *ngIf="adicional.textoMaximo">{{adicional.textoMaximo}}</div>
    <ng-template [ngIf]="adicional.tipo === 1" [ngIfElse]="multiple">
      <ion-list class="radio-group-list">
        <ion-radio-group (ionChange)="seleccionarIncluido($event, adicional)">
          <div class="item" *ngFor="let item of adicional.opciones">
          <ion-item [ngClass]="{'item-agotado':!item.disponible}">
              <ion-label class="option-name">
                {{item.display}}
              </ion-label>
              <div *ngIf="!item.disponible" class="agotado">Agotado</div>
              <ion-radio *ngIf="item.disponible" slot="end" mode="md" class="option-value" value="{{item.id}}"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
    </ng-template>
    <ng-template #multiple>
      <ion-list>
        <div class="item" *ngFor="let item of adicional.opciones">
        <ion-item class="multiple" (ionChange)="seleccionarAdicional(item, adicional)">
          <ion-label>
            <div class="display">
              {{item.display}}
            </div>
            <div class="precio" *ngIf="adicional.tipo === 3">
              + {{item.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}
            </div>
          </ion-label>
          <ion-checkbox slot="end" mode="md"></ion-checkbox>
        </ion-item>
      </div>
      </ion-list>
    </ng-template>
  </div>
</div>


</ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row class="total-container">
        <ion-col size="5">
          <div class="step-component">
            <div class="remove" [ngClass]="{'no-active':cantidad === 1}" (click)="restar()">
              <ion-icon name="remove-outline"></ion-icon>
            </div>
            <div class="number">
              {{cantidad}}
            </div>
            <div class="add" (click)="adicionar()">
              <ion-icon name="add-outline"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col size="7" class="col-button">
          <div class="total-button" (click)="cerrar(true)" [ngClass]="{'disable':blDisabled}">
            <div class="icon-text">Agregar</div>
            <div class="price-total">{{ subtotal | currency: 'COP':'symbol-narrow' : '1.0-0'}} <span class="price-currency"></span></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
