.close-button{
    font-size: 2rem;
    text-align: right;
    color: var(--text-color);
    background-color: white;
    opacity: 0.6;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}
.image{
display: block;
height: 210px;
width: 100%;
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0.7rem 1rem;
}
.description{
    margin: 0;
    p{
        font-size: 1rem;
        color: var(--text-color);
        margin: 0.5rem 1rem;
    }
}
.price{
    margin: 0.5rem 1rem;
    .amount{
        font-weight: bold;
    }
}
.cantidad{
    margin: 1rem;
    ion-grid, ion-col{
        padding: 0;
    }
}
.options{
    margin: 1rem 0;
}
.radio-group-list{
    margin: 1rem 0;
}
.seleccion-cantidad{
    border: solid 1px #cccccc;
    border-radius: 5px;
}
.col-price{
    padding: 0.5rem 1rem;
}
.price-info{
    .price{
        margin:0;
        font-weight: bold;
    }
  }
  .action-sheet-button.sc-ion-action-sheet-ios{
      color: var(--text-color) !important;
  }
  .step-component{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.10);
    .add, .remove{
      font-weight: bold;
        margin: 0 1rem;
        font-size: 1.5rem;
    }
    .no-active{
        opacity: 0.2;
    }
}
.total-button{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    background-image: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin:0.5rem;
    .num-products{
      background-color: #ff4e00;
      border-radius: 5px;
      text-align: center;
      padding: 0.2rem 0.5rem;
      align-self: center;
    }
    .icon-text{
      font-weight: bold;
      align-self: center;
    }
    .price{
      align-self: center;
    }
  }