.close-button{
    font-size: 2rem;
    text-align: right;
    color: #ffffff;
    background-color: var(--text-color);
    opacity: 0.6;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    z-index: 100;
}
ion-item{
    margin:0 0 1rem 0;
    // height: 80px;
}
.item-multiple{
    width:100%;
}
ion-grid{
    padding: 0;
}
.food-image{
    display: flex;
    padding: 0;
    ion-thumbnail{
        width: 80px;
        min-width: 80px;
        height: 80px;
        --border-radius: 8px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.section-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 2rem 0rem 1rem 1rem;
}
.more-products{
    margin: 0.5rem 0 1rem 1rem;
    display: flex;
    color: var(--ion-color-primary);
    justify-content: flex-start;
    align-items: center;
    ion-icon{
        font-size: 1.5rem;
    }
}
.food-title{
    font-size: 1rem;
    color: var(--color-text);
}
.product{
    margin: 0 1rem;
    align-self: center;
    .food-text{
        font-weight: bold;
        margin: 0.2rem 0;
        p{
            margin: 0em;
        }
    }
}
.price-info{
    margin: 0 1rem;
    .price{
      font-weight: bold;
    }
  }
  .col-button{
    text-align: right;
  }
.step-col{
    align-self: center;
    display: flex;
    justify-content: flex-end;
}
.trash{
    color:var(--ion-color-danger);
    font-size: 1.2rem;
    align-self: center;
    margin-right: 1rem;
}
  .step-component{
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0.10);
      .add, .remove{
        font-weight: bold;
          margin: 0 1rem;
          font-size: 1.5rem;
      }
      .no-active{
          opacity: 0.2;
      }
  }

  .total-button{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    background-image: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin:0.5rem;
    .num-products{
      background-color: #ff4e00;
      border-radius: 5px;
      text-align: center;
      padding: 0.2rem 0.5rem;
      align-self: center;
    }
    .icon-text{
      font-weight: bold;
      align-self: center;
    }
    .price{
      align-self: center;
    }
  }
  .clear{
      margin: 1rem auto;
      color: var(--ion-color-primary);
  }
  .alert-canasta .alert-wrapper{
      
          .alert-head{
              .alert-title{
                  h2{
                      color: red !important;
                  }
              }
          }
      
  }