ion-content{
    --background: var(--custom-background);
    font-family: "Roboto", Helvetica, sans-serif;
}
ion-col.estado{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.estado{
    font-size: 0.8rem;
}
.total{
    font-weight: bold;
}
ion-item{
    font-size: 1rem;
    color: var(--text-color);
}