ion-content{
    --background: var(--custom-background);
    font-family: "Roboto", Helvetica, sans-serif;
}
ion-col.estado{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.estado{
    font-size: 0.8rem;
}
.total{
    font-weight: bold;
}
ion-item{
    font-size: 1rem;
    color: var(--text-color);
    --min-height: 4rem;
    ion-avatar{
        width: 50px;
        height: 50px;
    }
}
.texto-empty{
    font-size: 1rem;
    color: var(--text-color);
    margin: 5rem;
    margin-bottom: 0;
    text-align: center;
}
.btn-empty{
    width: 150px;
    text-align: center;
    color: #ffffff;
    justify-content: space-between;
    background-image: var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1rem;
  }