<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="home()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Ir al inicio
      </ion-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-template [ngIf]="blPedidos" [ngIfElse]="noPedidos">
    <div class="pedidos">
      <ion-list>
        <ion-item *ngFor="let pedido of pedidos" (click)="mostrarDetalle(pedido.id)">
          <ion-avatar slot="start">
            <img src="{{pedido.canasta[0].imagen}}">
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-label>
                  <div class="productos">{{pedido.totalProductos}} {{pedido.textoProductos}}</div>
                  <div class="total">{{pedido.total | currency:'COP':'symbol-narrow' : '1.0-0'}}</div>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="estado">
                <div class="estado">{{pedido.textoEstado}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="(pedidos) === null">
        <ion-item *ngFor="let item of [1,1,1,1,1,1]">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <div>
                  <ion-thumbnail slot="start" class="load-image">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                </div>
              </ion-col>
              <ion-col size="9">
                <div class="food-title"><ion-skeleton-text class="load-text" animated style="width: 50%"></ion-skeleton-text></div>
                <div class="food-text"><ion-skeleton-text class="load-text" animated style="width: 30%"></ion-skeleton-text></div>
              </ion-col>
            </ion-row>
          </ion-grid>     
        </ion-item>
        </ion-list>
    </div>
  </ng-template>
  <ng-template #noPedidos>
    <div class="no-pedidos">
      <div class="texto-empty">Aún no has hecho pedidos.</div>
        <div class="btn-empty" (click)="home()">
          <div class="price">Pide ahora</div>
        </div>
    </div>
  </ng-template>
</ion-content>
