<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section-title"><h4>Hamburguesas</h4></div>
  <ion-list>
    <ion-item *ngFor="let hamburguesa of (hamburguesas | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{hamburguesa.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{hamburguesa.nombre}}</div>
            <div food-text><p>{{hamburguesa.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{hamburguesa.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(hamburguesa)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>


  <div class="section-title"><h4>Perros calientes</h4></div>
  <ion-list>
    <ion-item *ngFor="let perro of (perros | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{perro.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{perro.nombre}}</div>
            <div food-text><p>{{perro.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{perro.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(perro)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>


  <div class="section-title"><h4>Asados</h4></div>
  <ion-list>
    <ion-item *ngFor="let asado of (asados | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{asado.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{asado.nombre}}</div>
            <div food-text><p>{{asado.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{asado.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(asado)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>

  <div class="section-title"><h4>Pizzas</h4></div>
  <ion-list>
    <ion-item *ngFor="let pizza of (pizzas | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{pizza.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{pizza.nombre}}</div>
            <div food-text><p>{{pizza.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{pizza.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(pizza)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>

  <div class="section-title"><h4>Más delicias</h4></div>
  <ion-list>
    <ion-item *ngFor="let otro of (otros | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{otro.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{otro.nombre}}</div>
            <div food-text><p>{{otro.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{otro.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(otro)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>


  <div class="section-title"><h4>Bebidas</h4></div>
  <ion-list>
    <ion-item *ngFor="let bebida of (bebidas | async)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="food-image">
            <ion-thumbnail item-start>
              <img src={{bebida.imagen}}>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <div class="food-title">{{bebida.nombre}}</div>
            <div food-text><p>{{bebida.descripcion}}</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="add-button">
            <span class="food-price">{{bebida.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</span><ion-button (click)="detail(bebida)">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>     
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <div class="price-info">
          <div class="price-text">Subtotal</div>
          <div class="price">{{ subtotal | currency: 'COP':'symbol-narrow' : '1.0-0'}} <span class="price-currency">COP</span></div>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="pedir()">
          Pedir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>