<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="../../assets/images/header.png" alt="Punto 7">
  </div>
  <!-- <div class="home-title">Bienvenido a Punto 7 2x3</div> -->
  <div class="intro-text">Variedad en comidas rápidas: hamburguesas, perros, asados, pizzas, lasagnas, salchipapas y mucho más.</div>
  <div class="pedidos" (click)="pedidos()">Pedidos</div>
  <ion-grid>
    <ion-row>
      <ion-col class="category-col" *ngFor="let categoria of (categorias | async)" size-xs="6" (click)="goDetail(categoria.nombre)">
        <ion-card class="category-card">
          <img src="{{categoria.imagen}}" class="category-image">
        </ion-card>
        <div class="category-title">{{categoria.display}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="subtotal">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12" class="col-button">
        <div class="total-button" (click)="resumen()">
          <div class="num-products">{{totalProductos}}</div>
          <div class="icon-text">Ver canasta</div>
          <div class="price">{{ subtotal | currency: 'COP':'symbol-narrow' : '1.0-0'}} <span class="price-currency"></span></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>