.horario{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 1rem;
  .cerrado{
    background-color: var(--ion-color-danger);
    margin: 0.5rem 0;
    color: white;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    font-size: 0.7rem;
    font-weight: lighter;
  }
  .mensaje-horario{
    font-size: 0.7rem;
  }
}
.logo{
  width: 100%;
  max-width: 500px;
  margin: 0rem;
}
.home-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 1rem auto;
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
}
.intro-carta{
  margin: 0.5rem 1rem;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Roboto", Helvetica, sans-serif;
}
.intro-text{
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 1.5rem;
  color: var(--text-color);
  font-family: "Roboto", Helvetica, sans-serif;
}
.category-card{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.category-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
    color: var(--text-color);
}
.pedidos{
  margin: 0 1.5rem;
}
.load-image{
  width: 150px;
  height: 150px;
  margin: auto;
}
.load-text{
  width: 60%;
  margin: 0.5rem auto;
  height: 1rem;
}
.reservas-btn{
  margin: 0.2rem auto;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
  color: #ffffff;
  background-image: var(--main-color);
  cursor: pointer;
}
.opciones{
  margin: 0.5rem 0.5rem 0 0;
  .opcion-nota{
    padding-top: 0.2rem;
    .label{
      font-weight: bold;
    }
  }
  .opcion{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
    .label{
      font-weight: bold;
    }
    .linea-precio{
      border-bottom: solid 1px var(--text-color);
      width: 100%;
      margin: 0 0.5rem 0 0;
      border-bottom-style: dashed;
    }
    .valor{
      color: var(--ion-color-primary);
    }
  }
}
.whatsapp-btn{
  position: fixed;
  cursor:pointer;
  width: 60px;
  height: 60px;
  bottom: 2rem;
  right: 2rem;
}