<ng-template [ngIf]="modo === 1" [ngIfElse]="carrito">
  <ion-content [fullscreen]="true">
    <ion-grid id="clase-{{css}}">
      <div class="header" (click)="goReservas()">
        <img src="{{imagenHeader}}">
        <div class="logo">
          <img src="{{logo}}">
        </div>
      </div>
    <div class="intro-carta" *ngIf="modo === 1 && abierto === true">{{textoCarta}}</div>
    <div class="intro-text" *ngIf="modo === 0 || abierto === false">{{textoIntro}}</div>
    <div class="horario" *ngIf="!abierto">
      <div class="cerrado">Abre {{horaApertura}}</div>
      <div class="mensaje-horario">Horario: {{textoHorario}}</div>
    </div>

    <div class="categoria-carta" *ngFor="let categoria of datosCarta">
      <div class="titulo-categoria">
        <img src="{{categoria.imagen}}">
      </div>
      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let producto of categoria.productos">
        <div class="categoria-grid">
          <div class="ion-row">
            <div class="imagen-carta">
              <img [src]="producto.imagen">
            </div>
            <div class="texto-carta">
              <div class="titulo-carta">
                <div class="titulo">{{producto.nombre}}</div>
                <div class="precio" *ngIf="producto.opcionesCarta.length === 0">{{producto.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</div>
              </div>
              <div class="nota" *ngIf="producto.nota">{{producto.nota}}</div>
              <div class="texto">{{producto.descripcion}}
                <div class="opciones">
                  <div class="opcion" *ngFor="let opcion of producto.opcionesCarta">
                    <div class="label">{{opcion.nombre}}</div>
                    <div class="valor">{{opcion.precio | currency:'COP':'symbol-narrow' : '1.0-0'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  
  <!-- <ion-grid *ngIf="(hamburguesas | async) === null">
    <ion-row>
      <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let item of [1, 1, 1, 1, 1]">
          <diV class="row">
            <ion-thumbnail slot="start" class="imagen-carta">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </diV>
          <div class="texto-carta">
            <ion-skeleton-text class="texto-carta" animated style="width: 100%"></ion-skeleton-text>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
<div class="whatsapp-btn" (click)="contactar()" *ngIf="whatsapp === true">
  <img src="../../assets/images/whatsapp.svg">
</div> 
  </ion-content>
  <ion-footer *ngIf="reservas === true" mode="ios" translucent="true">
    <ion-toolbar>
      <ion-row>
        <ion-col size="12">
          <div class="reservas-btn" (click)="goReservas()">Haz tu reserva</div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  </ng-template>
  <ng-template #carrito>
    <ion-content [fullscreen]="true">
      <div class="logo">
        <img src="../../assets/images/header.png" alt="Punto 7">
      </div>
      <div class="intro-carta" *ngIf="modo === 1 && abierto === true">{{textoCarta}}</div>
      <div class="intro-text" *ngIf="modo === 0 || abierto === false">{{textoIntro}}</div>
      <div class="horario" *ngIf="!abierto">
        <div class="cerrado">Abre {{horaApertura}}</div>
        <div class="mensaje-horario">Horario: {{textoHorario}}</div>
      </div>
      <div class="pedidos" (click)="pedidos()" *ngIf="modo === 0 && abierto === true">Pedidos</div>
      <ion-grid *ngIf="categorias">
        <ion-row>
          <ion-col class="category-col" *ngFor="let categoria of (categorias | async)" size-xs="6" (click)="goDetail(categoria.nombre)">
            <ion-card class="category-card">
              <img src="{{categoria.imagen}}" class="category-image">
            </ion-card>
            <div class="category-title">{{categoria.display}}{{categoria.cantidadComprada}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-grid *ngIf="(categorias | async) === null">
        <ion-row>
          <ion-col size="6" *ngFor="let item of [1, 1, 1, 1, 1]">
              <diV>
                <ion-thumbnail slot="start" class="load-image">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
              </diV>
            <ion-skeleton-text class="load-text" animated style="width: 50%"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-content>
    <ion-footer *ngIf="subtotal">
      <ion-toolbar>
        <ion-row>
          <ion-col size="12" class="col-button">
            <div class="total-button" (click)="resumen()">
              <div class="num-products">{{totalProductos}}</div>
              <div class="icon-text">Ver canasta</div>
              <div class="price">{{ subtotal | currency: 'COP':'symbol-narrow' : '1.0-0'}} <span class="price-currency"></span></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
 