.logo{
  width: 100%;
  margin-bottom: 1rem;
}
.home-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 1rem auto;
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
}
.intro-text{
  font-size: 1rem;
  margin: 1rem 2rem;
  color: var(--text-color);
  font-family: "Roboto", Helvetica, sans-serif;
}
.category-card{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.category-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
    color: var(--text-color);
}